.DS_Store

.svn/
.ppt/
.idea/
.vscode
.history/

yarn.lock

node_modules*

config/config.local.*
/lib
/dist
coverage

npm-debug.log*
package-lock.json

.gitattribute

node_modules.rar

*.sh
babel.config.js
